.p-table {
    margin: 10px auto;
    width: 97%;
    text-align: left;
    border-collapse: collapse;

}

th {
    background-color: #f6f6f6;
    font-size: small;
}

td {
    padding: 5px 5px 5px 10px;
    border: 1px solid #cecece;
    min-width: 30px;
    font-size: 11px;
}

td:first-child, td:last-child {
    padding: 0;
    text-align: center;
}
td span.glyphicon-remove {
    color: #bb0000;
}